{{!-- Display Contact Data --}}
{{#each details.contacts as |contact contactIndex|}}
    {{#if (gt contactIndex 0)}}
        <hr>
    {{/if}}
    <h1 class="p-title">
        {{fa-icon "address-card"}} Contact
    </h1>
    {{#each contact.fields as |property|}}
        {{#unless property.hidden}}
            <div>
                <span class="p-key">{{property.display}}:</span>
                {{#if property.url}}
                    <a href="{{property.url}}" class="p-link">{{property.value}}</a>
                {{else}}
                    {{#if (eq property.format "date")}}
                        <span class="p-value" title="{{property.value}}">
                            {{moment-format property.value 'MM/DD/YYYY' timeZone=timezone}}
                        </span>
                    {{else if (eq property.format 'email')}}
                        <span class="p-value">{{property.value}}</span>
                        <a href="mailto:{{property.value}}" title="Email {{property.value}}"
                           target="_blank" class="p-action">
                            {{fa-icon "envelope" fixedWidth=true}}
                        </a>
                    {{else}}
                        <span class="p-value">{{property.value}}</span>
                    {{/if}}
                {{/if}}
            </div>
        {{/unless}}
    {{/each}}
    {{#if block.detailsLoaded}}
        {{#if (and (eq contact.accounts.length 0)
                      (eq contact.opportunities.length 0)
                      (eq contact.campaigns.length 0)
                      (eq contact.tasks.length 0))}}
            <span class="p-footnote">No Additional Data Available</span>
        {{/if}}
        {{!-- Display Contact Accounts --}}
        {{#if (gt contact.accounts.length 0)}}
            <h1 class="p-title">
                {{fa-icon "building"}} Related Accounts
            </h1>
            {{#each contact.accounts as |account|}}
                {{#each account as |property|}}
                    {{#unless property.hidden}}
                        <div>
                            <span class="p-key">{{property.display}}:</span>
                            {{#if property.url}}
                                <a href="{{property.url}}" class="p-link">{{property.value}}</a>
                            {{else}}
                                {{#if (eq property.format "date")}}
                                    <span class="p-value" title="{{property.value}}">
                                        {{moment-format property.value 'MM/DD/YYYY' timeZone=timezone}}
                                    </span>
                                {{else if (eq property.format 'email')}}
                                    <span class="p-value">{{property.value}}</span>
                                    <a href="mailto:{{property.value}}" title="Email {{property.value}}"
                                       target="_blank" class="p-action">
                                        {{fa-icon "envelope" fixedWidth=true}}
                                    </a>
                                {{else}}
                                    <span class="p-value">{{property.value}}</span>
                                {{/if}}
                            {{/if}}
                        </div>
                    {{/unless}}
                {{/each}}
            {{/each}}
        {{/if}}

        {{!-- Display Contact Opportunities --}}
        {{#if (gt contact.opportunities.length 0)}}
            <h1 class="p-title">
                {{fa-icon "crown"}} Opportunities
            </h1>
            {{#each contact.opportunities as |opportunity|}}
                {{#each opportunity as |property|}}
                    {{#unless property.hidden}}
                        <div>
                            <span class="p-key">{{property.display}}:</span>
                            {{#if property.url}}
                                <a href="{{property.url}}" class="p-link">{{property.value}}</a>
                            {{else}}
                                {{#if (eq property.format "date")}}
                                    <span class="p-value" title="{{property.value}}">
                                        {{moment-format property.value 'MM/DD/YYYY' timeZone=timezone}}
                                    </span>
                                {{else if (eq property.format 'email')}}
                                    <span class="p-value">{{property.value}}</span>
                                    <a href="mailto:{{property.value}}" title="Email {{property.value}}"
                                       target="_blank" class="p-action">
                                        {{fa-icon "envelope" fixedWidth=true}}
                                    </a>
                                {{else}}
                                    <span class="p-value">{{property.value}}</span>
                                {{/if}}
                            {{/if}}
                        </div>
                    {{/unless}}
                {{/each}}

                {{!-- Similar Opportunities Logic --}}
                {{#if (eq contact.similarOpportunities.length 0)}}
                    <div class="p-footnote">No Similar Opportunities Found</div>
                {{/if}}
                {{#unless (or contact.similarOpportunitiesSearched contact.loadingSimilarOpportunities)}}
                    <span class="p-action search-similar-opportunities" {{action "getSimilarOpportunities" opportunity
                                                                                 contactIndex}}>Search Similar Opportunities</span>
                {{/unless}}
                {{#if contact.loadingSimilarOpportunities}}
                    <span class="search-similar-opportunities">
                        {{fa-icon "spinner-third" fixedWidth=true spin=true size="sm"}} Searching ...
                    </span>
                {{/if}}
                {{#if contact.similarOpportunitiesError}}
                    <div class="p-red p-footnote">
                        {{contact.similarOpportunitiesError}}
                    </div>
                {{/if}}
                {{#if (gt contact.similarOpportunities.length 0)}}
                    <h1 class="p-title">
                        {{fa-icon "crown"}} Similar Opportunities
                    </h1>
                {{/if}}
                {{#each contact.similarOpportunities as |similarOpportunity|}}
                    <div class="similar-opportunity">
                        {{#each similarOpportunity as |property|}}
                            {{#unless property.hidden}}
                                <div>
                                    <span class="p-key">{{property.display}}:</span>
                                    {{#if property.url}}
                                        <a href="{{property.url}}" class="p-link">{{property.value}}</a>
                                    {{else}}
                                        {{#if (eq property.format "date")}}
                                            <span class="p-value" title="{{property.value}}">
                                                {{moment-format property.value 'MM/DD/YYYY' timeZone=timezone}}
                                            </span>
                                        {{else if (eq property.format 'email')}}
                                            <span class="p-value">{{property.value}}</span>
                                            <a href="mailto:{{property.value}}" title="Email {{property.value}}"
                                               target="_blank" class="p-action">
                                                {{fa-icon "envelope" fixedWidth=true}}
                                            </a>
                                        {{else}}
                                            <span class="p-value">{{property.value}}</span>
                                        {{/if}}
                                    {{/if}}
                                </div>
                            {{/unless}}
                        {{/each}}
                    </div>
                {{/each}}


            {{/each}}
        {{/if}}


        {{!-- Display Contact Campaigns--}}
        {{#if (gt contact.campaigns.length 0)}}
            <h1 class="p-title">
                {{fa-icon "bullseye"}} Campaigns
            </h1>
            {{#each contact.campaigns as |campaign|}}
                {{#each campaign as |property|}}
                    {{#unless property.hidden}}
                        <div>
                            <span class="p-key">{{property.display}}:</span>
                            {{#if property.url}}
                                <a href="{{property.url}}" class="p-link">{{property.value}}</a>
                            {{else}}
                                {{#if (eq property.format "date")}}
                                    <span class="p-value" title="{{property.value}}">
                                        {{moment-format property.value 'MM/DD/YYYY' timeZone=timezone}}
                                    </span>
                                {{else if (eq property.format 'email')}}
                                    <span class="p-value">{{property.value}}</span>
                                    <a href="mailto:{{property.value}}" title="Email {{property.value}}"
                                       target="_blank" class="p-action">
                                        {{fa-icon "envelope" fixedWidth=true}}
                                    </a>
                                {{else}}
                                    <span class="p-value">{{property.value}}</span>
                                {{/if}}
                            {{/if}}
                        </div>
                    {{/unless}}
                {{/each}}
            {{/each}}
        {{/if}}


        {{!-- Display Contact Tasks --}}
        {{#if (gt contact.tasks.length 0)}}
            <h1 class="p-title">
                {{fa-icon "envelope-square"}} Tasks
            </h1>
            {{#each contact.tasks as |task|}}
                <div class="field">
                    {{#each task as |property|}}
                        {{#unless property.hidden}}
                            <div>
                                <span class="p-key">{{property.display}}:</span>
                                {{#if property.url}}
                                    <a href="{{property.url}}" class="p-link">{{property.value}}</a>
                                {{else}}
                                    {{#if (eq property.format "date")}}
                                        <span class="p-value" title="{{property.value}}">
                                            {{moment-format property.value 'MM/DD/YYYY' timeZone=timezone}}
                                        </span>
                                    {{else if (eq property.format 'email')}}
                                        <span class="p-value">{{property.value}}</span>
                                        <a href="mailto:{{property.value}}" title="Email {{property.value}}"
                                           target="_blank" class="p-action">
                                            {{fa-icon "envelope" fixedWidth=true}}
                                        </a>
                                    {{else}}
                                        <span class="p-value">{{property.value}}</span>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{/unless}}
                    {{/each}}
                </div>
            {{/each}}
        {{/if}}
    {{/if}}
{{/each}}


{{!-- Display Lead Data --}}
{{#each details.leads as |lead leadIndex|}}
    {{#if (or (gt leadIndex 0) (gt details.contacts.length 0))}}
        <hr>
    {{/if}}
    <h1 class="p-title">
        {{fa-icon "user-circle"}} Lead
    </h1>
    {{#each lead.fields as |property|}}
        {{#unless property.hidden}}
            <div>
                <span class="p-key">{{property.display}}:</span>
                {{#if property.url}}
                    <a href="{{property.url}}" class="p-link">{{property.value}}</a>
                {{else}}
                    {{#if (eq property.format "date")}}
                        <span class="p-value" title="{{property.value}}">
                            {{moment-format property.value 'MM/DD/YYYY' timeZone=timezone}}
                        </span>
                    {{else if (eq property.format 'email')}}
                        <span class="p-value">{{property.value}}</span>
                        <a href="mailto:{{property.value}}" title="Email {{property.value}}"
                           target="_blank" class="p-action">
                            {{fa-icon "envelope" fixedWidth=true}}
                        </a>
                    {{else if (eq property.format 'paragraph')}}
                        <pre>{{property.value}}</pre>
                    {{else}}
                        <span class="p-value">{{property.value}}</span>
                    {{/if}}
                {{/if}}
            </div>
        {{/unless}}
    {{/each}}

    {{#if block.detailsLoaded}}
        {{#if (and (eq lead.campaigns.length 0) (eq lead.tasks.length 0))}}
            <span class="p-footnote">No Additional Data Available</span>
        {{/if}}
        {{!-- Lead Campaigns --}}
        {{#if (gt lead.campaigns.length 0)}}
            <h1 class="p-title">
                {{fa-icon "bullseye"}} Campaigns
            </h1>
            {{#each lead.campaigns as |campaign|}}
                {{#each campaign as |property|}}
                    {{#unless property.hidden}}
                        <div>
                            <span class="p-key">{{property.display}}:</span>
                            {{#if property.url}}
                                <a href="{{property.url}}" class="p-link">{{property.value}}</a>
                            {{else}}
                                {{#if (eq property.format "date")}}
                                    <span class="p-value" title="{{property.value}}">
                                        {{moment-format property.value 'MM/DD/YYYY' timeZone=timezone}}
                                    </span>
                                {{else if (eq property.format 'email')}}
                                    <span class="p-value">{{property.value}}</span>
                                    <a href="mailto:{{property.value}}" title="Email {{property.value}}"
                                       target="_blank" class="p-action">
                                        {{fa-icon "envelope" fixedWidth=true}}
                                    </a>
                                {{else}}
                                    <span class="p-value">{{property.value}}</span>
                                {{/if}}
                            {{/if}}
                        </div>
                    {{/unless}}
                {{/each}}
            {{/each}}
        {{/if}}

        {{!-- Lead Tasks --}}
        {{#if (gt lead.tasks.length 0)}}
            <h1 class="p-title">
                {{fa-icon "envelope-square"}} Tasks
            </h1>
            {{#each lead.tasks as |task|}}
                <div class="field">
                    {{#each task as |property|}}
                        {{#unless property.hidden}}
                            <div>
                                <span class="p-key">{{property.display}}:</span>
                                {{#if property.url}}
                                    <a href="{{property.url}}" class="p-link">{{property.value}}</a>
                                {{else}}
                                    {{#if (eq property.format "date")}}
                                        <span class="p-value" title="{{property.value}}">
                                            {{moment-format property.value 'MM/DD/YYYY' timeZone=timezone}}
                                        </span>
                                    {{else if (eq property.format 'email')}}
                                        <span class="p-value">{{property.value}}</span>
                                        <a href="mailto:{{property.value}}" title="Email {{property.value}}"
                                           target="_blank" class="p-action">
                                            {{fa-icon "envelope" fixedWidth=true}}
                                        </a>
                                    {{else if (eq property.format 'paragraph')}}
                                            <textarea disabled>{{property.value}}</textarea>
                                    {{else}}
                                        <span class="p-value">{{property.value}}</span>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{/unless}}
                    {{/each}}
                </div>
            {{/each}}
        {{/if}}
    {{/if}}
{{/each}}
