<div class="details-container">
    <div class="item">
        {{#if isContact}}
        <div>
            <p>
                <i>{{details.Name}}</i>
                <a href="{{details.host}}/one/one.app#/sObject/{{details.Id}}/view">View in Salesforce</a>
            </p>
            {{#if hasTitle}}
            <p>
                Title:
                <b>{{details.Title}}</b>
            </p>
            {{/if}} {{#if hasContact}}
            <p>
                Contact:
                <ul>
                    {{#each contacts as |contact|}}
                    <li>
                        <b>{{contact.type}}:</b>
                        {{contact.value}}
                    </li>
                    {{/each}}
                </ul>
            </p>
            {{/if}} {{#if hasDepartment}}
            <p>
                Department:
                <b>{{details.Department}}</b>
            </p>
            {{/if}}
        </div>
        {{/if}} {{#if isLead}}
        <div>
            <p>
                <i>{{details.Name}}</i>
                <a href="{{details.host}}/one/one.app#/sObject/{{details.Id}}/view">View in Salesforce</a>
            </p>
            {{#if hasTitle}}
            <p>
                Title:
                <b>{{details.Title}}</b>
            </p>
            {{/if}} {{#if hasContact}}
            <p>
                Contact:
                <ul>
                    {{#each contacts as |contact|}}
                    <li>
                        <b>{{contact.type}}:</b>
                        {{contact.value}}
                    </li>
                    {{/each}} {{#if hasEmail}}
                    <li>
                        <b>Email:</b>
                        <a href="mailto:{{email}}">{{email}}</a>
                    </li>
                    {{/if}}
                </ul>
            </p>
            {{/if}} {{#if hasCompany}}
            <p>
                Company:
                <b>{{details.Company}}</b>
            </p>
            {{/if}} {{#if hasStatus}}
            <p>
                Status:
                <b>{{details.Status}}</b>
            </p>
            {{/if}} {{#if hasSource}}
            <p>
                Source:
                <b>{{details.LeadSource}}</b>
            </p>
            {{/if}}
        </div>
        {{/if}} {{#if isOpportunity}}
        <div>
            <p>
                <i>{{details.Name}}</i>
                <a href="{{details.host}}/one/one.app#/sObject/{{details.Id}}/view">View in Salesforce</a>
            </p>
            {{#if hasDescription}}
            <p>
                <i>{{details.Description}}</i>
            </p>
            {{/if}} {{#if hasStage}}
            <p>
                Stage:
                <b>{{details.StageName}}</b>
            </p>
            {{/if}} {{#if hasNextStep}}
            <p>
                Next Step:
                <b>{{details.NextStep}}</b>
            </p>
            {{/if}} {{#if hasExpectedRevenue}}
            <p>
                Expected Revenue:
                <b>{{details.ExpectedRevenue}}</b>
            </p>
            {{/if}}
        </div>
        {{/if}}
    </div>
</div>